@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
      @apply text-h4 font-normal leading-p font-sans;
    }
    h1 {
      @apply text-h1sm sm:text-h1 font-bold leading-h1 font-sans;
    }
    h2 {
      @apply text-h2sm sm:text-h2  font-semibold leading-h2 font-sans;
    }
    h3 {
      @apply text-h3sm sm:text-h3 font-semibold leading-h3 font-sans;
    }
    h4 {
      @apply text-h4 font-semibold leading-h4 font-sans;
    }
    p {
      @apply text-h4 font-normal leading-p text-secondary font-sans;
    }
    a {
      @apply font-normal leading-a font-sans;
    }
    #nav-header, .site-main{
      padding: 0 5vw;
    }
    aside {
      position: sticky;
      top: 20px;
    }
    #right-sticky li:hover,
    #right-sticky li.active {
      background-color: #ffeede;
    }
    .toc a.active {
      background-color: #fdebd0;
      color: #000;
    }

    .border-color {
      border-color: #e2b1a2;
    }
    .border-dashed:hover {
      border: 1px dashed #e2b1a2;
    }
    .border-white {
      border-color: #fff;
    }
    .border-black {
      border-color: #000;
    }
    .bg-yellow {
      background-color: #ffe31d;
    }
    main button {
      background-color: #fff;
    }
    .widget_fav {
      margin: 0px 5px 0 -4px;
    }
    .item_categories span {
      @apply bg-black text-white rounded-lg px-3 pt-1 pb-2 text-sm mr-2;
    }
    p.widget_text_teaser {
      line-height: 29px;
    }
    .read_more {
      color: #3eb0ef;
      text-decoration: underline;
      font-size: 15px;
    }
    #myTab li button {
      @apply border bg-white text-black font-bold border-black;
    }
    #myTab .active {
      @apply bg-black text-white;
    }
    .border-b-3 {
      border-bottom: 3px solid;
    }
    .text-hover:hover p {
      color: #000;
    }
    .active-tab {
      background-color: #000 !important;
      color: #fff;
    }
    .tabs {
      @apply flex justify-center gap-2 flex-wrap;
    }
    header ul li {
      @apply flex justify-center pt-4 pb-4 pl-3 pr-3;
    }
    header ul li ul li {
      @apply p-2 justify-start;
    }
    header ul li ul li a {
      line-height: 22px;
      font-weight: 700;
    }
    header ul li ul li a small {
      font-weight: 400;
    }
    header ul li:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  body {
    scroll-behavior: smooth;
  }
  summary::marker {
    font-size: 0px;
  }
  .list-decimal {
    list-style-type: decimal;
  }
  .mobile-menu {
    left: -200%;
    transition: 0.5s;
  }
  
  .mobile-menu.active {
    left: 0;
  }
  .container {
    width: 100%;
    padding: 0px;
    max-width: 1040px;
  }
  
  /* @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 980px;
      padding: 0px 15px;
    }
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  } */
  .mobile-menu ul li ul {
    display: none;
  }
  
  .mobile-menu ul li:hover ul {
    display: block;
  }
  header ul li {
    margin: 0px !important;
  }
  header ul i {
    padding: 0 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 768px) and (max-width: 845px){
    #nav-header ul li{
      padding-left: 7px;
      padding-right: 7px;
    }
  }
  @media screen and (max-width: 768px) {
    footer ul a {
      background: rgba(0, 0, 0, 0.2);
      padding: 2px 8px 2px !important;
      text-decoration: none !important;
      display: inline-block;
      margin-bottom: 4px;
    }
    footer ul {
      margin-top: 20px;
    }
  
    .basis-1\/3 {
      flex-basis: 100%;
    }
    .tab-contents .flex {
      flex-wrap: wrap;
    }
  }
  .alert-callout{
    border: 2px solid #e3b5a6;
    border-radius: 10px;
  }
.highlight_link a{
  position: relative;
    text-decoration: none;
    box-shadow: none;
    display: block;
    padding: 15px 0 10px;
    border-top: 2px dotted #e3b5a6;
    border-bottom: 2px dotted #e3b5a6;
}
.highlight_link a .recommend{
  position: absolute;
    background: #ffeede;
    font-size: small;
    line-height: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    top: -11px;
    left: 20px;
    text-transform: uppercase;
    color: #bd7f6b;
}
.highlight_link a span.more_info{
   color: #313b3f;
    text-decoration: none !important;
    display: inline-block;
    padding-left: 10px;
    border-left: 2px solid #ebebeb;
    margin: 5px;
}
@media screen and (min-width: 320px) and (max-width: 918px) {
   .item_categories span{
      padding: 4px 6px !important;
      margin-right: 5px !important;
      border-radius: 5px !important;
   }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .md\:col-span-9{
	   grid-column: span 8 / span 8 !important;
	}
	.md\:col-span-3{
	   grid-column: span 4 / span 4 !important;
  }
}
.wp-block-gallery{
  margin-top: 30px;
}
.wp-block-gallery .wp-block-image .wp-element-caption{
   position: relative !important;
   background: none !important;
   color: #353439 !important;
   line-height: 20px !important;
   font-weight: 400 !important;
   text-shadow: none !important;
}
.wp-block-gallery .wp-block-image{
  border: 1px dashed white; 
  overflow: hidden;
  border-radius: 0.5rem !important;
}
.wp-block-gallery .wp-block-image:hover{
   border: 1px dashed #e2b1a2;
}
.wp-block-gallery .wp-block-image img{
  border-radius: 0.5rem !important;
}
h2 {
  margin-bottom: 0.75rem;
}
p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; 
}
/* Apply grid layout to the gallery */
.gallery.gallery-columns-1 {
  grid-template-columns: repeat(1, 1fr); /* 3 columns */
}
.gallery.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
}
.gallery.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
}
.gallery.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
}
.gallery {
  display: grid;
  gap: 1rem; /* Gap between items */
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}

/* Style each gallery item */
.gallery.gallery-columns-1 .gallery-item {
  border: 1px dotted #e2b1a2; /* White dashed border */
  padding: 0.75rem;
}
.gallery .gallery-item {
  position: relative;
  border: 1px dashed white; /* White dashed border */
  overflow: hidden; /* Ensure the border doesn't affect images */
  border-radius: 0.5rem; /* Rounded corners */
}

/* Style the image inside each gallery item */
.gallery .gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem; /* Rounded corners */
  object-fit: cover;
}

/* Style the caption text */
figcaption.gallery-caption {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: initial;
  padding-top: 0.5rem;
}

/* Optional: Add hover effects */
.gallery .gallery-item:hover {
  border: 1px dashed #e2b1a2;
}
.widget_left{
  float: right;
    padding: 10px 0 20px 20px;
    width: 35%;
    background-size: cover;
    background-position: center;
    min-height: 150px;
    position: relative;
}